<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<h1>Xchange it</h1>

<div>	
	<label>Exchange:
		<select id="currencyFrom">
			<% for(let i = 0; i < currencies.length; i++){ %>
				<% if(currencies[i].currencySymbol){%>
						<option><%= currencies[i].countryName + ' / ' + currencies[i].currencyName + ' / ' + currencies[i].currencySymbol%></option>
					<%} else {%>
						<option><%= currencies[i].countryName + ' / ' + currencies[i].currencyName %></option>
					<%}%>
			<% } %>
		</select>
	</label>
	<label> To:
		<select id="currencyTo">
			<% for(let i = 0; i < currencies.length; i++){ %>
				<% if(currencies[i].currencySymbol){%>
						<option><%= currencies[i].countryName + ' / ' + currencies[i].currencyName + ' / ' + currencies[i].currencySymbol%></option>
					<%} else {%>
						<option><%= currencies[i].countryName + ' / ' + currencies[i].currencyName %></option>
					<%}%>
			<% } %>
		</select>
	</label>
	<label>From:
		<input type="date" name="fromDate" id="fromDate">
	</label>
	<label>To:
		<input type="date" name="toDate" id="toDate">
	</label>
	<input type="button" value="Xchange it! History" id="xchangeIt">
	<label for="result"> Exchange rate History:</label>
	<br>
	<canvas id="myChart"></canvas>
	
</div>
<script type="text/javascript" src='/scripts/currencyHistoryScript.js' ></script>