<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/navBar.css">
<h1>Xchange it</h1>
<nav>
	<ul>
	  <li><a class="active" href="/exchageRate/new">Xchange It!</a></li>
	  <li><a href="/currencyHistory/new">Exchange rate history</a></li>
	  <li><a href="#">Previous Activity</a></li>
	  <li><a href="#">Profile</a></li>
	  <li><a href="/">Log out</a></li>
	</ul>
</nav>