<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<h1>Xchange it</h1>
<p>
	<ul>
		<li>Exchange rates for 200+ currencies.</li>
		<li>Up to the minute currency exchange rates.</li>
		<li>Up to a year of history of a currancy exchange rates.</li>
		<li>Create an account and have access to your search results history.</li>
	</ul>
</p>
<form method="GET" action="#">
	<input type="email" name="userName" placeholder="User Name">
	<input type="password" name="password" placeholder="Password">
	<input type="submit" value="LOG IN">
</form>
<p>
	Don't have an account? <a href="/signup">SIGN UP</a> 
</p>
<label for="tryIt">Try it:</label>
<div id="tryIt">	
	<label>Exchange:
		<select id="from">
			<% for(let i = 0; i < currencies.length; i++){ %>
				<% if(currencies[i].currencySymbol){%>
						<option><%= currencies[i].countryName + ' / ' + currencies[i].currencyName + ' / ' + currencies[i].currencySymbol%></option>
					<%} else {%>
						<option><%= currencies[i].countryName + ' / ' + currencies[i].currencyName %></option>
					<%}%>
			<% } %>
		</select>
	</label>
	<label> To:
		<select id="to">
			<% for(let i = 0; i < currencies.length; i++){ %>
				<% if(currencies[i].currencySymbol){%>
						<option><%= currencies[i].countryName + ' / ' + currencies[i].currencyName + ' / ' + currencies[i].currencySymbol%></option>
					<%} else {%>
						<option><%= currencies[i].countryName + ' / ' + currencies[i].currencyName %></option>
					<%}%>
			<% } %>
		</select>
	</label>
	<input type="button" value="Xchange it!" id="xchangeIt">
	<label for="result"> Exchange rate:</label>
	<br>
	<div id="result"></div>
</div>
<script type="text/javascript" src='/landingPageScript.js' ></script>